body{
	background: lightblue;
	font-family: 'PT Mono', monospace;
}

#page-heading{
	padding-top : 30px;
}

/*.navbar{
	width:100%;
}*/

.nav-item{
	margin:auto 15% ;
}
.navrow{
	margin:auto;
}

.course{
	margin-right: 80px;
	margin-bottom: 30px;

}
#course-details{
	margin-top : 50px;
}

#filter-heading{
	text-align: center;
	margin-top : 50px;
}
.logo{
	width: 80px;
	
}